html.body {
  background-color: #f6debc;
  overflow-y: overlay;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../fonts/montserrat-medium/MontserratMedium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../../fonts/montserrat-semibold/MontserratSemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Avenir Light";
  src: url("../../fonts/avenir-light/AvenirLight.woff") format("woff");
}
